// -----------------------------------
// ----------FONT COLOR---------------
// -----------------------------------

$gray-normal: #555555; // LOGO
$gray-bold: #999999;
$green:#1DBF73;
$yellow:#FFC100;
$white:white;
$black:black;
$banner:#eef2f5;
$trans:transparent;



// -----------------------------------
// ----------FONT SIZE---------------
// -----------------------------------
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-19: 19px;
$fs-20: 20px;
$fs-21: 21px;
$fs-22: 22px;
$fs-34: 34px; // H1 BANNER



// -----------------------------------
// ----------FONT WEIGHT---------------
// -----------------------------------
$fw-600:600;
$fw-700:700;
$fw-bold:bold;
$fw-normal:normal;











// -----------------------------------
// ----------FONT COLOR---------------
// -----------------------------------
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;






// -----------------------------------
// ----------FONT FAMILY---------------
// -----------------------------------
$ff-0:'Baloo Bhai', cursive;
$ff-1:'Roboto Slab', serif;