.market{
    width: 100%;
    padding-top: 100px;
    h1{
        width: 89%;
        margin: 0 auto;
        font-size: 25px;
        font-weight: bold;
    }
    .container-market{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @include lg{
            width: 100%;
        }
        @include md{
            flex-wrap: wrap;
        }
        .item{
            width: 25%;
            height: 200px;
            display: flex;
            justify-content: center;
            position: relative;
            cursor: pointer;
            @include md{
                width: 50%;
            }
            &:hover .container-img::after{
                width: 100%;
                background: $green;
            }
            .container-img{
                width: 40%;
                height: 150px;
                position: relative;
                display: flex;
                justify-content: center;
                &::after{
                    content: "";
                    position: absolute;
                    bottom:25%;
                    left: 50%;
                    transform: translate(-50%,50%);
                    width: 70%;
                    height: 4px;
                    background: $gray-bold;
                    transition: all .5s;
                }

                img{
                    width: 65%;
                }
            }
            p{
                position: absolute;
                bottom: 15%;
            }
        }
    }
}